<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario B&W</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <main>
    <h1>Black and White Spa</h1>

    <form action="/bw">
      <label for="imagen">Imagen URL:</label>
      <div>
        <input type="text" name="imagen" id="imagen">
      </div>
      <div>
        <button type="submit">Subir imagen al servidor</button>
      </div>
    </form>
  </main>

</body>

</html>